
@media screen and (max-width: 1046px) {


    .container_two
    {
     display:none;

    }
    .menu-icon
 {
    display:block;
    margin-top: 30px;
    font-size: 4vw;
    margin-left:auto; 
    
    
 }
 .container_zero
 {
    gap:380px;
 }
 .container_one
 {
    font-size: 25px;
    background-color: transparent;
 }

 .profile-picture img
 {

   width:80%;
  
 }

 #contact
 {
     margin-top:1800px ;
 }
 
 .footer-contact
 {
    margin-top:100px;
 }

}

@media  screen and (max-width:910px) {
    .container_one
    {
        font-size:32px;
        margin-top: -10px;
    }

    .container
    {
        flex-direction: column-reverse;
    }
    .profile-picture img 
    {
        margin-bottom: 100px;
        height: 40vw;
        width:90%;
    }
    .intro-text
    {
        max-width: 100%;
        margin-bottom: 60px;
    }
    
    .intro-text p
    {
        font-size: 24px;
        overflow: hidde;
    }
    .intro-text button 
    {
        font-size: 18px;
        margin-left: 20vw;
        gap: 30px;
    }
}

   @media screen and (max-width:785px) {

    .about-section
    {
        flex-direction: column;
    }
    .about-heading
    {
        display:block;
        position: relative;
        color:white;
        font-size: 36px;
    }
    
    .about-heading::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: cyan;
        margin-left:50px;
        margin-top:5px;
      
    }
    .image-container
    {
        margin-top: -100px;
        margin-left:120px;
        overflow: hidden;
        
    }

    .text-container
    {
        margin-left:5vw;
        margin-top: 30px;
    }
    .text-container h1
    {
        display:none;
    }

    #contact
    {
        margin-top:2400px;
    }
    .intro-text button {
        margin-left:70px;
    }
     
    
   }
   @media screen and (max-width:750px) {

    .container_one
    {
        white-space:nowrap;
    }
    .menu-icon
    {
        margin-left: -70px;
    }


    
   }
   @media screen and(max-width:650px)
   {
    .menu-icon
    {
        overflow:hidden;
    }
   }
