@media screen and (max-width: 1046px) {

    .navbar {
        height: 70px;
        padding: 0 3%;
    }
    .container_two {
        margin-top: -10px;
        margin-left: -250px;
        display: flex
;
    }
    .container_one h4 {
        font-size: 24px;
    }

    .container_two li a {
        font-size: 16px;
    }
    nav span{        
        margin-left: -5px;
        margin-top: 36px;
    }
.container_zero
 {
    gap:380px;
 }
 .container_one
 {
    font-size: 25px;
    background-color: transparent;
 }

 .profile-picture img
 {

   width:80%;
  
 }

 #contact
 {
     margin-top:1800px ;
 }
 
 .footer-contact
 {
    margin-top:100px;
 }

}

@media  screen and (max-width:910px) {
    .navbar {
        height: 65px;
        padding: 0 10px;
    }
    .container_two
    {
        display: flex;
        gap: 20px;
    
    
    }
    .container_one h4 {
        font-size: 22px;
    }

    .container_two li a {
        font-size: 14px;
        margin-right: 20px;
    }
    .container_one
    {
        font-size:32px;
        margin-top: -10px;
    }

    nav span{        
        margin-left: -5px;
        margin-top: 27px;
    }
    .container
    {
        flex-direction: column-reverse;
    }
    .profile-picture img 
    {
        margin-bottom: 100px;
        height: 40vw;
        width:90%;
    }
    .intro-text
    {
        max-width: 100%;
        margin-bottom: 60px;
    }
    
    .intro-text p
    {
        font-size: 24px;
        overflow: hidde;
    }
    .intro-text button 
    {
        font-size: 18px;
        margin-left: 20vw;
        gap: 30px;
    }
}

   @media screen and (max-width:785px) {

    .container_two {
        display: none; /* Hide menu items */
        
    }

    .container_two.active {
        display: flex;
        margin-left: -300px;
        transition: transform 0.3sease-out;
    }

    .menu-icon {
        margin-left: 650px;
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
    }   
    .about-section
    {
        flex-direction: column;
    }
    .about-heading
    {
        display:block;
        position: relative;
        color:white;
        font-size: 36px;
    }
    
    .about-heading::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: cyan;
        margin-left:50px;
        margin-top:5px;
      
    }
    .image-container
    {
        margin-top: -100px;
        margin-left:120px;
        overflow: hidden;
        
    }

    .text-container
    {
        margin-left:5vw;
        margin-top: 30px;
    }
    .text-container h1
    {
        display:none;
    }

    #contact
    {
        margin-top:2400px;
    }
    .intro-text button {
        margin-left:70px;
    }
     
    
   }
   
   @media screen and (max-width:730px) {

    .container_two {
        display: none; /* Hide menu items */
        
    }

    .container_two.active {
        display: flex;
        margin-left: -350px;
        transition: transform 0.3sease-out;
    }

    .menu-icon {
        margin-left: 590px;
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
    }   
    .about-section
    {
        flex-direction: column;
    }
    .about-heading
    {
        display:block;
        position: relative;
        color:white;
        font-size: 36px;
    }
    
    .about-heading::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: cyan;
        margin-left:50px;
        margin-top:5px;
      
    }
    .image-container
    {
        margin-top: -100px;
        margin-left:120px;
        overflow: hidden;
        
    }

    .text-container
    {
        margin-left:5vw;
        margin-top: 30px;
    }
    .text-container h1
    {
        display:none;
    }

    #contact
    {
        margin-top:2400px;
    }
    .intro-text button {
        margin-left:70px;
    }
     
    
   }

   @media screen and (max-width:660px) {

    .container_two {
        display: none; /* Hide menu items */
        
    }

    .container_two.active {
        display: flex;
        margin-left: -350px;
        transition: transform 0.3sease-out;
    }

    .menu-icon {
        margin-left: 530px;
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
    }   
    .container_one h4 {
        font-size: 15px;
    }

    .container_two li a {
        font-size: 12px;
    }
}
